<body>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>YP Social Platform - About YP</title>
<!--NAVIGATION CODE STARTS HERE -->
<style>
ul {list-style-type: none; margin: 0; padding: 0; background-color: #333;top: 0;width: 100%;position: fixed;overflow-x: auto;white-space: nowrap;-webkit-overflow-scrolling: touch; }
ul::-webkit-scrollbar {display: none;}
ul {scrollbar-width: none;}
li {display: inline-block;border-right: 1px solid #bbb;}
li:last-child {border-right: none;}
li a {display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;font-size: 20px;}
li a:hover:not(.active) {background-color: blue;}
.active {
  background: #11998e;}
body {margin:0; background-color:#f1f7f8;}
</style>
body {margin:0;}
<!-- Had to spend weekends and nights learning html and css. -->
<ul>
    <li><a href="/">Home🏘</a></li>
    <li><a href="/View_your_profile">Profile👤</a></li>
    <li><a href="/chats">Chat🖐</a></li>
    <li><a href="/goals">Goals🏃</a></li>
    <li><a href="/prayer_request">Prayer_requests🙏</a></li>
    <li><a href="/bible_challenge">Bible_challenges📖</a></li>
    <li><a class="active" href= "/about_yp">About YP🌟</a></li>
    <li><a href="/progress_dashboard">Progress Dashboard📉</a></li>
    <li><a href= "/view_videos">Daily Lessons📚</a></li>
    <li><a href= "/help">Help ❓</a></li> 
</ul>
<!--NAVIGATION CODE ENDS HERE -->
<style>
.btn-profile1 { width: 50%; padding: 12px; background: orange; color: white; border: none; border-radius: 50px; font-size: 16px; font-weight: bold; cursor: pointer; transition: 0.2s; }
.btn-profile1:hover { background: #124439; }
.btn-profile2 { width: 70%; padding: 12px; background: #4CAF50; color: white; border: none; border-radius: 70px; font-size: 16px; font-weight: bold; cursor: pointer; transition: 0.2s; }
.btn-profile2:hover { background: #124439; }
</style>
<h1><hr></h1>
<h2>1. The YP ANTHEM</h2>
<p>The YP anthem can be sung during parade. This is possible in YP section where they are few groups for the rally.</p>
If the YP anthem is sung during parade, the patrol is called to dressing so as to maintain their arm spacing and position.<br>
The song is intoned;immediately the YP members band too the ground, place their staff across, right to the left in front of them (horizontally) with the middle of the staff in between the legs.<br>
They start singing immediately they standup. After singing this anthem,  the GL calls "staff" and the YP members pick up their staff and assume rest position and wait for further commands.<br>
<br>To read the anthem specifically, click the button below<br>
<h5>This note was taken from the YP REAL TYPS of 2026, Themed "Remember your creator (Ecclesiastes 12:1)" >>Page 69</h5>
<form action ="/view_anthem" method ="GET">
    <button type="submit" class="btn-profile1">VIEW THE YP ANTHEM</button>
</form>

<h2>2.The YP PROMISE</h2>
<p>The YP promise is said during meetings, rallies and many other YP events as a reminder to the YPs to not forget why they became YPs in the first place</p>. 
The YP promise stands as a commitment to know Christ and do everything with Christ including in our deeds, thoughts and words.<br>
The YP promise remains to stand as a fountain for responsible living which should be adopted by Young Presbyterians.<br>
<br>To read the YP promise specifically, click the button below<br>

<form action ="/view_promise" method ="GET">
    <button type="submit" class="btn-profile2">VIEW THE YP PROMISE</button>
</form>

<h2>The YP AIM</h2>
<h3>Aims of YP work are based on Matthew 18:5; 10; 14</h3>
1.To enable the Young Presbyterians become dedicated to Christ<br>
2.To develop the character of the young people so that one day they might grow up to full mature men and women.<br>
3.To develop a sense of fellowship among youth by enabling them to play and pray together.<br>
4.To develop in youth the sense of responsibility towards meeting the social needs of the families, neighbors and other citizens.<br>
5.To develop their conscience and a personal commitment to the Christian faith, in church and youth movement.<br>
<br>To read the YP AIM specifically, click the button below<br>
<h5>This note was taken from the YP REAL TYPS of 2026, Themed "Remember your creator (Ecclesiastes 12:1)" >>Page 76</h5>
<form action ="/view_aim" method ="GET">
    <button type="submit" class="btn-profile1">VIEW THE YP AIM</button>
</form>

<h2>The YP MOTTO</h2>
<p>The meaning of our motto is expressed in this song:</p>
We are the YPs<br>
This means Young Presbyterians<br>
Our motto is "Everything with Christ"<br>
Our motto is "Everything with Christ"<br>
We have some Duties<br>
Which we have to do each day<br>
To please our dear Lord, Jesus Christ<br>
At home, at school and play<br>
<br>To read the YP MOTTO specifically, click the button below<br>
<h5>This note was taken from the YP REAL TYPS of 2026, Themed "Remember your creator (Ecclesiastes 12:1)" >>Page 76</h5>
<form action ="/view_motto" method ="GET">
    <button type="submit" class="btn-profile2">VIEW THE YP MOTTO</button>
</form>
<h1></h1>
<h2></h2>
<h5>Not much is said about the contents of the 2026 YP REAL TYPS in this platform, so to get a more personalized experience we suggest you read the book</h5>
</body>
</html>
