<body>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--NAVIGATION CODE STARTS HERE -->
<title>YP Social Platform - Help</title>
<style>
ul {list-style-type: none; margin: 0; padding: 0; background-color: #333;top: 0;width: 100%;position: fixed;overflow-x: auto;white-space: nowrap;-webkit-overflow-scrolling: touch; }
ul::-webkit-scrollbar {display: none;}
ul {scrollbar-width: none;}
li {display: inline-block;border-right: 1px solid #bbb;}
li:last-child {border-right: none;}
li a {display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;font-size: 20px;}
li a:hover:not(.active) {background-color: blue;}
.active {
  background: #11998e;}
body {margin:0;}
</style>
body {margin:0;}
<!-- Had to spend weekends and nights learning html and css. -->
<ul>
   <li><a href="/">Home🏘</a></li>
    <li><a href="/View_your_profile">Profile👤</a></li>
    <li><a href="/chats">Chat🖐</a></li>
    <li><a href="/goals">Goals🏃</a></li>
    <li><a href="/prayer_request">Prayer_requests🙏</a></li>
    <li><a href="/bible_challenge">Bible_challenges📖</a></li>
    <li><a href= "/about_yp">About YP🌟</a></li>
    <li><a href="/progress_dashboard">Progress Dashboard📉</a></li>
    <li><a href= "/view_videos">Daily Lessons📚</a></li> 
    <li><a class="active" href= "/help">Help ❓</a></li> 
</ul>
<!--NAVIGATION CODE ENDS HERE -->

<h2>Step 1: Getting Started </h2>
Once logged in, and on the home screen, you'll find a Menu bar at the top of the screen<br>
The Menu bar can be scrolled horizontally to get access to all the features of the app<br>

<h2>About You</h2>
When you logged in, your provided data was stored and can be accessed through the Profile Icon on your Menu bar.<br>
You may see a variety of buttons on the profile page, to edit your provided credentials click on the "edit profile" button and write new data in the text inputs provided and when done, click on the "SAVE CHANGES" button. You'll be redirected to the profile page<br>

<h2>Getting Social</h2>
On the menu bar you'll find a "Chat" button.<br> 
To share your thoughts with other YPs click on it and type a message in the text inputs provided. You can also like and comment on other members' post. To view the profile of an author of a post, simply click on his/her name.</br>

<h2>Knowing Your Goals </h2>
Click on the "Goals" button on your menu bar to get a list of goals or tasks for you to complete. <br>
Each day comes with different goals. And when the time is above "18:00" come again to save your goal data (how many goals you were able to complete throughout the day).<br> Once submitted come back after 24 hours to save another goal progress<br>

<h2>Wanna Pray for someone? </h2>
You can write prayer requests and pray for other's request by simply clicking on the "Prayer Requests" button and following the given instructions<br>Well, they are no instructions, just know your system<br>

<h2>Are you worth the challenge? </h2>
We need to keep our minds busy with God's word with our Bible as the core instrument.<br>
So take a few cool Bible challenges from the "Bible Challenges" menu<br>
And take note, challenges are not stable. Each time you refresh, or come back to the challenge menu, the Bible challenges change<br>So you may want to write the first one you see down, so as not to forget<br>

<h2>Why are you a YP? </h2>
To find accurate information about YP, visit the "About YP🌟" page<br>

<h2>Do you wanna Learn? </h2>
Get access to videos posted by YP/Sunday School Teachers and Administrators by clicking on the Daily Lessons button<br>

<h2>Need help? </h2>
Come to the help page by clicking on the "Help ❓" button.<br>

<hr>
<br><br>
Thank you very much for choosing our application.<br><br>
sincerely,
<h2>                Harry Code Lab</h2>
<img src="{{ url_for('static', filename='My_Logo.png')}}" alt="PROGRAMMER LOGO" style="float:center;width:50%;border-radius:50%;">

</body>
