<body>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>YP Social Platform - YP Promise</title>
<!--NAVIGATION CODE STARTS HERE -->
<style>
ul {list-style-type: none; margin: 0; padding: 0; background-color: #333;top: 0;width: 100%;position: fixed;overflow-x: auto;white-space: nowrap;-webkit-overflow-scrolling: touch; }
ul::-webkit-scrollbar {display: none;}
ul {scrollbar-width: none;}
li {display: inline-block;border-right: 1px solid #bbb;}
li:last-child {border-right: none;}
li a {display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;font-size: 20px;}
li a:hover:not(.active) {background-color: blue;}
.active {
  background: #11998e;}
body {margin:0;}
</style>
body {margin:0;}
<!-- Had to spend weekends and nights learning html and css. -->
<ul>
    <li><a href="/">Home🏘</a></li>
    <li><a href="/View_your_profile">Profile👤</a></li>
    <li><a href="/chats">Chat🖐</a></li>
    <li><a href="/goals">Goals🏃</a></li>
    <li><a href="/prayer_request">Prayer_requests🙏</a></li>
    <li><a href="/bible_challenge">Bible_challenges📖</a></li>
    <li><a class="active" href= "/about_yp">About YP🌟</a></li>
    <li><a href="/progress_dashboard">Progress Dashboard📉</a></li>
    <li><a href= "/view_videos">Daily Lessons📚</a></li>
    <li><a href= "/help">Help ❓</a></li> 
</ul>
<!--NAVIGATION CODE ENDS HERE -->

<h1>The YP PROMISE</h1>
Since I have become a YP,<br>
I know that Jesus Christ is my only Lord.<br>
I promise that I will do everything with him<br>
in my work, in my words and in my thoughts,<br>
I shall always allow him to lead me.<br>
<h5>{{"_"*20}}</h5>
Everything with Christ

<h1></h1>
<form action = "/about_yp" method ="GET">
    <button type="submit" class="btn-profile">Back</button>
</form>
</body>
</html>
